.custom-row{
    padding: 2%;
    background-color: rgb(241, 239, 239);
    border-radius: 20px;
    width: 90%;
    border:0px solid #000;
    height: 50%;
}

.admin-image-postlogin{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.profile-header{
    background-color: rgb(201, 220, 220);
    border-radius: 20px;
}
.profile-details{
    border-radius: 20px;
    margin-top: 8%;
}
