.navbar-light{
    background-color:#007C9D;
    
}
.container-fluid{
    font-weight: 600;
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.navbar-brand{
    font-size: 25px;
}

.seperator{
    border-top: 9px solid #f1d5d5;

}